<?xml version="1.0"?>
<config>
    <modules>
        <DoWhileTrue_BetterLog>
            <version>0.1.0</version>
        </DoWhileTrue_BetterLog>
    </modules>
    <global>
        <helpers>
            <dwt_log>
                <class>DoWhileTrue_BetterLog_Helper</class>
            </dwt_log>
        </helpers>
        <blocks>
            <dwt_log>
                <class>DoWhileTrue_BetterLog_Block</class>
            </dwt_log>
        </blocks>
        <models>
            <dwt_log>
                <class>DoWhileTrue_BetterLog_Model</class>
                <resourceModel>dwt_log_resource</resourceModel>
            </dwt_log>
            <dwt_log_resource>
                <class>DoWhileTrue_BetterLog_Model_Resource</class>
                <entities>
                    <log>
                        <table>dwt_log</table>
                    </log>
                </entities>
            </dwt_log_resource>
        </models>
        <resources>
            <dwt_log_setup>
                <setup>
                    <module>DoWhileTrue_BetterLog</module>
                </setup>
            </dwt_log_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DoWhileTrue_BetterLog after="Mage_Adminhtml">DoWhileTrue_BetterLog_Adminhtml</DoWhileTrue_BetterLog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dev>
            <log>
                <dwt_log_active>2</dwt_log_active>
                <stacktrace_as_link>1</stacktrace_as_link>
                <stacktrace_link><![CDATA[netbeans://]]></stacktrace_link>
                <local_base_path><![CDATA[/var/www/html/sisley]]></local_base_path>
            </log>
        </dev>
    </default>
</config>
