<?xml version="1.0"?>
<config>
    <sections>
        <dev translate="label" module="core">
            <groups>
                <log translate="label">
                    <fields>
                        <dwt_log_active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dwt_log/adminhtml_system_config_source_active</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dwt_log_active>
                        <stacktrace_as_link>
                            <label>Stacktrace as link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </stacktrace_as_link>
                        <stacktrace_link>
                            <label>Stacktrace link</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </stacktrace_link>
                        <local_base_path>
                            <label>Local project base path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </local_base_path>
                    </fields>
                </log>
            </groups>
        </dev>
    </sections>
</config>
